:root{
    --active-color: #6eb8ff;
    --white-color: #ffffff;
    --light-white-font: #ccc;
    --lighter-white-font:#aaa;
    --green-bgc:#99c14d;
    --grey-bgc:#ffffff33;
    --grey-color-font:#aaaaaa;
    --body-bgc:#121212;
    --light-black: #222327;
    --footer-download-link-bgc:#37383e;
    --footer-bgc-black:#1A1A1A;
    --footer-media-blue:#005fb4;
}
.insetBoxshadow{
    box-shadow: rgb(18, 18, 18) 0px -5px 5px inset;
}
/*heroSection start*/

.heroSection{

    height: 100vh;
}
.heroSection .heroSectionSlides{
    height: 100%;
}
.heroSection .heroSectionSlides .heroSectionSlide{
    width: 100%;
    height: 100%;
}
.heroSection .heroSectionSlides .heroSectionSlide .heroSectionSlideInfo{

}
.heroSection .heroSectionSlides .heroSectionSlide .heroSectionSlideInfo .heroSectionSlideTitleLink{

}
.heroSection .heroSectionSlides .heroSectionSlide .heroSectionSlideInfo .heroSectionSlideTitleLink .heroSectionSlideImgTitle{

}
.heroSection .heroSectionSlides .heroSectionSlide .heroSectionSlideInfo .heroSectionSlideContentTitle{

}
.heroSection .heroSectionSlides .heroSectionSlide .heroSectionSlideInfo .heroSectionSlideContentText{

}
.heroSection .heroSectionSlides .heroSectionSlide .heroSectionSlideInfo .heroSectionSlideContentText a img{

}
.heroSection .heroSectionSlides .heroSectionSlide .heroSectionSlideInfo .heroSectionSlideContentText .heroSectionSlideAudioSounds{

}
.heroSection .heroSectionSlides .heroSectionSlide .heroSectionSlideVideo{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media only screen and (max-width: 576px){
}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1400px) {

}