:root{
    --active-color: #6eb8ff;
    --white-color: #ffffff;
    --light-white-font: #ccc;
    --lighter-white-font:#aaa;
    --green-bgc:#99c14d;
    --grey-bgc:#ffffff33;
    --grey-color-font:#aaaaaa;
    --body-bgc:#121212;
    --light-black: #222327;
    --footer-download-link-bgc:#37383e;
    --footer-bgc-black:#1A1A1A;
    --footer-media-blue:#005fb4;
}
.insetBoxshadow{
    box-shadow: rgb(18, 18, 18) 0px -5px 5px inset;
}
/*heroSection start*/

.heroSection{
    height: 90vh;
}
.heroSection .heroSectionSlides{
    height: 100%;
}
.heroSection .heroSectionSlides .heroSectionSlide{
    width: 100%;
    height: 100%;
}
.heroSection .heroSectionSlides .heroSectionSlide .heroSectionSlideInfo{

}
.heroSection .heroSectionSlides .heroSectionSlide .heroSectionSlideInfo .heroSectionSlideTitleLink{

    height: fit-content;
}
.heroSection .heroSectionSlides .heroSectionSlide .heroSectionSlideInfo .heroSectionSlideTitleLink .heroSectionSlideImgTitle{
    width: 290px;
    height: auto;
}
.heroSection .heroSectionSlides .heroSectionSlide .heroSectionSlideInfo .heroSectionSlideContentTitle h2{

}
.heroSection .heroSectionSlides .heroSectionSlide .heroSectionSlideInfo .heroSectionSlideContentTitle p{

    padding: 7px;
}
.heroSection .heroSectionSlides .heroSectionSlide .heroSectionSlideInfo .heroSectionSlideContentText{

}
.heroSection .heroSectionSlides .heroSectionSlide .heroSectionSlideInfo .heroSectionSlideContentText a:first-child img{
    width: 20px;
    height: 20px;
}
.heroSection .heroSectionSlides .heroSectionSlide .heroSectionSlideInfo .heroSectionSlideContentText .heroSectionSlideAudioSounds{

}
.heroSection .heroSectionSlides .heroSectionSlide .heroSectionSlideVideo{
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.heroSection .heroSectionSlides .heroSectionSlide .heroSectionPardisImg img{
    width: 300px;
    height: auto;
}
.heroSection .heroSectionSlides .heroSectionSlideNavigationBtns {
    bottom: 20%;
}
.heroSection .heroSectionSlides .heroSectionSlideNavigationBtns button{
    background: transparent;
    border: none;
    width: fit-content;
    height: fit-content;
}
.heroSection .heroSectionSlides .heroSectionSlideNavigationBtns button svg{
    width: 40px;
    height: 40px;
}
.heroSection .heroSectionSlides .heroSectionSlideNavigationBtns .heroSectionSlideNavigationBtnLeft{
    transform: rotate(180deg);
}
@media only screen and (max-width: 576px){
}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1400px) {

}